{% extends 'store/home.html' %}
{% load static %}

{% block headerarea %}
<!-- Header Area-->
<div class="header-area" id="headerArea">
  <div class="container h-100 d-flex align-items-center justify-content-between">
    <!-- Back Button-->
    <div class="back-button"><a href="{% url 'cart' %}">
        <svg class="bi bi-arrow-left" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
        </svg></a></div>
    <!-- Page Title-->
    <div class="page-heading">
      <h6 class="mb-0">Billing Information</h6>
    </div>
    <!-- Navbar Toggler-->
    <div class="suha-navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#suhaOffcanvas" aria-controls="suhaOffcanvas"><span></span><span></span><span></span></div>
  </div>
</div>

{% endblock headerarea %}

{% block content %}
    <div class="page-content-wrapper">
      <div class="container">
        <!-- Checkout Wrapper-->
        <div class="checkout-wrapper-area py-3">
          
            
            <!-- User Meta Data-->
          <div class="card user-data-card" id="form-wrapper">

            <!-- Billing Address-->
          <div class="billing-information-card mb-3">
            <div class="card billing-information-title-card bg-danger">
              <div class="card-body">
                <h6 class="text-center mb-0 text-white">Billing Information</h6>
              </div>
            </div>

            <div class="card-body">
              <form action="" method="" id="form">
                {% csrf_token %}
                <div id="user-info">
                  <div class="mb-3">
                    <div class="title mb-2"><i class="lni lni-user"></i><span>Full Name</span></div>
                    <input class="form-control" type="text" placeholder="Chidiebere Ibiam" name="name">
                  </div>
                  <div class="mb-3">
                    <div class="title mb-2"><i class="lni lni-phone"></i><span>Phone</span></div>
                    <input class="form-control" type="text" placeholder="+880 000 111 222" name="phone">
                  </div>
                  <div class="mb-3">
                    <div class="title mb-2"><i class="lni lni-envelope"></i><span>Email Address</span></div>
                    <input class="form-control" type="email" placeholder="care@example.com" name="email">
                  </div>
                </div>
                <div id="shipping-info">
                  <div class="mb-3">
                    <div class="title mb-2"><i class="lni lni-map-marker"></i><span>Address</span></div>
                    <input class="form-control" type="text" placeholder="28/C Green Road, BD" name="address">
                  </div>
                  <div class="mb-3">
                    <div class="title mb-2"><i class="lni lni-map-marker"></i><span>City</span></div>
                    <input class="form-control" type="text" placeholder="Enugu" name="city">
                  </div>
                  <div class="mb-3">
                    <div class="title mb-2"><i class="lni lni-map-marker"></i><span>State</span></div>
                    <input class="form-control" type="text" placeholder="Enugu" name="state">
                  </div>
                  
                </div>
                <button class="btn btn-success w-100" type="submit" id="form-button">Continue</button>
              </form>
            </div>
          </div>
         
          </div>

          {% if order.shipping == True %}
          <!-- Shipping Method Choose-->
          <div class="shipping-method-choose mb-3" >
            <div class="card shipping-method-choose-title-card bg-success">
              <div class="card-body">
                <h6 class="text-center mb-0 text-white">Shipping Method Choose</h6>
              </div>
            </div>
            <div class="card shipping-method-choose-card">
              <div class="card-body">
                <div class="shipping-method-choose">
                  <ul class="ps-0">
                    <li>
                      <input id="fastShipping" type="radio" name="selector" checked>
                      <label for="fastShipping">Fast Shipping<span>1 days delivary for $1.0</span></label>
                      <div class="check"></div>
                    </li>
                    <li>
                      <input id="normalShipping" type="radio" name="selector">
                      <label for="normalShipping">Reguler<span>3-7 days delivary for $0.4</span></label>
                      <div class="check"></div>
                    </li>
                    <li>
                      <input id="courier" type="radio" name="selector">
                      <label for="courier">Courier<span>5-8 days delivary for $0.3</span></label>
                      <div class="check"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% endif %}

          <!-- Cart Amount Area-->
          <div class="card cart-amount-area hidden" id="payment-info">
            <div class="card-body d-flex align-items-center justify-content-between">
              <h5 class="total-price mb-0">$<span class="counter">{{order.get_cart_total|floatformat:2}}</span></h5><a class="btn btn-warning" id="make-payment">Confirm &amp; Pay</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      var shipping = '{{order.shipping}}'
      var total = '{{order.get_cart_total}}'

      if (shipping == 'False'){
          document.getElementById('shipping-info').innerHTML = ''
      }

      if (user !='AnonymousUser'){
          document.getElementById('user-info').innerHTML=''
      }

      if (shipping == "False" && user !='AnonymousUser'){
          //Hide entire form if user is logged in and shipping is false
          document.getElementById('form-wrapper').classList.add('hidden');
          //Show payment if logged in user wants to buy an item that does not require shipping
          document.getElementById('payment-info').classList.remove('hidden');
      }

      var form = document.getElementById('form')

      csrftoken = form.getElementsByTagName("input")[0].value
      form.addEventListener('submit', function(e){
          e. preventDefault()
          console.log('Form Submitted...')
          document.getElementById('form-button').classList.add("hidden");
          document.getElementById('payment-info').classList.remove("hidden")
      })

      document.getElementById('make-payment').addEventListener('click', function(e){
          submitFormData()
      })

      function submitFormData() {
          console.log('Payment button clicked');

          var userFormData = {
              'name': null,
              'email': null,
              'phone': null,
              'total': total,
          }

          var shippingInfo = {
              'address': null,
              'city': null,
              'state': null,
              
          }

          if (shipping != 'False'){
              shippingInfo.address = form.address.value
              shippingInfo.city = form.city.value
              shippingInfo.state = form.state.value
              
          }

          if (user == 'AnonymousUser'){
              userFormData.name = form.name.value
              userFormData.phone = form.phone.value
              userFormData.email = form.email.value
              
          }

          var url='/process_order/'
          fetch(url,{
              method: 'POST',
              headers:{
                  'Content-Type': 'application/json',
                  'X-CSRFToken':csrftoken,
              },
              body: JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
          })
          .then((response) => response.json())
          .then((data) => {
              console.log('Success:', data);
              console.log('Transaction completed');


              cart = {}
              document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
              window.location.href= "{% url 'payment_success' %}"
          })
      }
  </script>    

    {% endblock content %}